/* the super div element */
#navbar{
    margin: var(--margin-base);

    display:flex;
    flex-direction:column;

    width:calc(100vw - var(--margin-base)*2);
    
}
/*for each element within the div of class=super execute these rules*/
div.super > * {
    border: 1px solid var(--border-line);
}
div.header > *{
    border: 1px solid var(--border-line);
}

#header{
    display: flex;
    flex-direction: row;

    height:calc(130px*var(--font-factor));
}
#h-left{
    width:20%;
}
#h-title{
    display:flex;
    justify-content:center;
    align-items:center;

    font-size: calc(60px*var(--font-factor));

    border: 1px solid var(--border-line);
    width:60%;
}
#h-time{
    width:20%;

    display:flex;
    justify-content:center;
}
#top{
    display:flex;
    flex-direction:column;
    justify-content:center;

    text-align:right;
    font-size:calc(16px*var(--font-factor));
}

/* navigation */
.navigation{
    display:flex;
    flex-direction:row;
    align-items:center;

}

/* for all child elements in class=navigation execute these rules */
.navigation > *{
    border: 1px solid var(--border-line);
}
.nav-items{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

    color: var(--font-color);
    font-weight: bolder;
    font-size: calc(25px*var(--font-factor));

    text-decoration: none;
    text-decoration: bold;

    border: 1px solid var(--border-line);

    height:calc(130px*var(--font-factor));
    width:25%;
}

#nav-1{
    color: var(--base10);
}
#nav-2{
    color: var(--base11);
}
#nav-3{
    color: var(--base08);
}
#nav-4{
    color: var(--base13);
}
#nav-1:hover{
    color: var(--base07);
    background: var(--base10);
}
#nav-2:hover{
    color: var(--base07);
    background: var(--base11);
}
#nav-3:hover{
    color: var(--base07);
    background: var(--base08);
}
#nav-4:hover{
    color: var(--base07);
    background: var(--base13);
}